/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

/*Site*/
.container {
    width: 1000px;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    grid-template-areas:
        "site_header site_header"
        "site_content site_sidebar"
        "site_footer site_footer";


}

body {
    background-image: url(./pictures/horizon.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/*Header*/
header {
    grid-area: site_header;
    align-content: center;
}

header .logo {}

h3 {
    padding: 10px;
}


header nav {
    display: block;
    margin: 20px;
    font-family: sans-serif;
    color: #ff0026;
    border: 2px solid #ff0000;
    border-radius: 4px;
    box-shadow: 0px 0px 9px #ff0000;
    text-decoration: none;
    text-align: left;
    background-color: #000000cf;
}

header nav a {
    margin: auto;
    padding: 3px;
    font-size: 13px;
    color: #9f9f9f;
}

header nav a.active_link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;

}

header nav a:link {
    color: #ffffff;
    text-decoration: none;
}

header nav a:visited {
    text-decoration: none;
}



/*Main*/
main {
    grid-area: site_content;
    display: block;
    margin: 20px;
    font-family: sans-serif;
    color: #ff0026;
    border: 2px solid #ff0000;
    border-radius: 4px;
    box-shadow: 0px 0px 9px #ff0000;
    text-decoration: none;
    text-align: center;
    background-color: #000000cf;
}

main article {
    padding: 30px;
}

main h2 {}

main article figure {}

main article figure img {
    width: 100%;
}

main article figcaption {}

/*Aside*/
aside {
    grid-area: site_sidebar;
    display: block;
    margin: 20px;
    font-family: sans-serif;
    color: #ff0026;
    border: 2px solid #ff0000;
    border-radius: 4px;
    box-shadow: 0px 0px 9px #ff0000;
    text-decoration: none;
    text-align: center;
    background-color: #000000cf;
}

aside h2 {
    padding: 30px;
}

aside p {
    padding: 2px;
}

aside a {
    margin: auto;
    padding: 3px;
    font-size: 13px;
    color: #9f9f9f;
}

aside a.active_link {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;

}

aside a:link {
    color: #ffffff;
    text-decoration: none;
}

aside a:visited {
    text-decoration: none;
}

footer {
    grid-area: site_footer;
    display: block;
    margin: 20px;
    font-family: sans-serif;
    color: #ff0026;
    border: 2px solid #ff0000;
    border-radius: 4px;
    box-shadow: 0px 0px 9px #ff0000;
    text-decoration: none;
    text-align: left;
    padding: 10px;
    background-color: #000000cf;
}

footer li {
    margin: 20px;
    font-family: sans-serif;
    color: #ff0026;
    border-radius: 4px;
    text-align: left;
    padding: 10px;

}

footer h2 {
    margin: 20px;
    font-family: sans-serif;
    color: #ff0026;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}

.clock {
    display: block;
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
    color: #000000;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}